@value makerGreen,makerWhite,makerBlack from '../../base/color.css';
.main {
  width: 30em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: makerWhite;
}
.title {
}
.list {
  list-style: none;
  padding: 0;
}
.google {
  width: 90%;
  background-color: makerWhite;
  padding: 1em 0;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10em;
  outline: none;
  cursor: pointer;
}
.github {
  width: 90%;
  background-color: makerWhite;
  padding: 1em 0;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10em;
  outline: none;
  cursor: pointer;
}

.github:hover,
.google:hover {
  background-color: makerBlack;
  color: makerWhite;
}
